{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('add_contact') }}" method=post class=add-contact>
      <dl>
        <dt>Name:
        <dd><input type=text size=30 name=name>
        <dt>Number:
        <dd><input type=text size=30 name=number>
        <dt>About:
        <dd><textarea name=about rows=5 cols=40></textarea>
        <dd><input type=submit value=Save>
      </dl>
    </form>
  <ol class=contacts>
  <h2 style="text-decoration: underline;"> Contacts </h2>
  {% for contact in contacts %}
    <li>
      <h3>{{ contact.name }}-{{ contact.number }}</h3> {{ contact.about|safe }} <a href="{{ url_for('edit_contact', contact_id = contact.id) }}"> Edit </a>
    </li>
    <hr>
  {% else %}
    <em>Please add some contacts.</em>
  {% endfor %}
  </ol>
{% endblock %}